<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :frequency, 'Frequency (1 for daily, 2 for every other day, 7 for weekly, etc.)' %>
    <%= form.number_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :size, 'Size (1 for easy, 5 for hard)' %>
    <%= form.number_field :size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
