<% if logged_in? %>
  <div class="header">
    <div class="user-badge">
      <div class="avatar"><%= link_to @user.avatar, @user %></div>
      <span class="level"><%= @user.level %></span>
    </div>
    <div class="level-info">
      <div class="xp-bar">
        <div class="xp-bar-fill" style="width:<%= @user.progress_to_level * 100 %>%">&nbsp;</div>
      </div>
      <% unless @user.xp_multiplier == 1 %>
        <div class="xp-multiplier">x<%= @user.xp_multiplier %></div>
      <% end %>
      <div class="next-reward">
        <span>Next Reward:</span>
        <%= link_to @user.next_reward&.avatar, @user.next_reward %>
      </div>
    </div>
  </div>
  <h2>Tasks</h2>
  <ul class="task-list">
    <% @task_list.each do |daily| %>
      <li>
        <input type="checkbox" id="task_<%= daily.id %>" <% if daily.completed? %>checked<% end %>/>
        <label for="task_<%= daily.id %>"><%= daily.task.name %></label>
        <span><%= "#{daily.task.xp}xp" %></span>
      </li>
    <% end %>
  </ul>
  <h2>Earned Rewards</h2>
  <ul class="earned-rewards">
    <% @earned_rewards.each do |reward| %>
      <li>
        <span class="name"><%= reward.name %></span>
        <span class="date"><%= humanize_datetime reward.created_at %></span>
      </li>
    <% end %>
  </ul>
<% end %>