<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<ul>
  <% @role.permissions.each do |permission| %>
    <li>
      <%= link_to permission.name, permission %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
