<div class="links">
  <%= link_to 'Home', root_path %>
  <%= link_to 'My Account', edit_current_user_path %>
  <%= link_to 'Rewards', rewards_path %>
  <%= link_to 'Tasks', tasks_path %>
  <%= link_to 'Features', features_path %>
  <%= link_to 'Permissions', permissions_path %>
  <%= link_to 'Roles', roles_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Log Out', logout_path %>
</div>