<!DOCTYPE html>
<html>
  <head>
    <title>Chores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name%>">

    <% if current_user %>
      <%= render partial: 'layouts/user_links' %>
    <% else %>
      <%= render partial: 'layouts/guest_links' %>
    <% end %>
    <p class=”notice”><%= notice %></p>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
